<div class="btn-group" role="group" aria-label="Menu trenera">
    <button type="button"  ng-click="map.enable()" class="btn btn-default">Edycja</button>
    <button type="button" id="list_players_button" ng-click="map.showAllPlayers()" class="btn btn-default">Twoi zawodnicy</button>
    <button type="button" id="workouts_button" ng-click="map.showWorkouts()" class="btn btn-default">Aktywne treningi</button>
    <button type="button" id="show_details_button" ng-click="map.showWorkoutDetails()" class="btn btn-default">Szczegóły</button>
    <button type="button" id="check_player_button" ng-click="map.showConnector()" class="btn btn-default">Wybierz zawodnika</button>
    <button type="button" ng-click="map.saveRoute()" class="btn btn-default">Zapisz</button>
</div>
