<div ng-controller="detailsCtrl">
<ul class="list-group" style="color: #444444" >
  <li class="list-group-item">
    {{username}}
  </li>
  <li class="list-group-item">
    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
    Czas trwania: 120 min
  </li>
  <li class="list-group-item">
    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    Godzina rozpoczęcia: 12:32
  </li>
  <!--<li class="list-group-item">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    Zawodnik: Mariusz Kowalski
  </li>-->
  <li class="list-group-item">
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    Spalonych kalorii: 120 kcal
  </li>
  <li class="list-group-item">
    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
    <span class="badge">14</span>
    Nadesłane zdjęcia:
  </li>
  </ul>
  
   <form ng-submit="send()">
     
      <div class="form-group">
        <label for="content">Tresc</label>
          <input type="text" class="form-control" id="content" placeholder="Tresc wiadomosci" required ng-model="mail_content">
      </div> 

     <button class="btn btn-primary" type="submit()">Wyslij</button>
   </form>
  </div>
