<style type="text/css">
    #map_canvas {
        height: 100%;
        width: 100%;
    }

    .angular-google-map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin-top: 50px;
    }

    #trainer_menu{
        margin-top: 20px;
        margin-left: 25%;
        width: 50%;
    }

    #dummy_map_container{
        display: none;
    }
</style> 

<script>
    $('#myCarousel').hide();
</script>

<div ng-controller="mainCtrl">
    <div id="map_canvas" >  
        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
            <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'">
            </ui-gmap-markers>
            <ui-gmap-polyline ng-repeat="p in map.polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                              geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'>
            </ui-gmap-polyline>
        </ui-gmap-google-map>
    </div>

    <div id="trainer_menu">
        <div class="wrap" trainer-directive ></div>
        <div id="dummy_map_container">
            <div class="wrap" take-player-directive id="take_player_directive"></div>
            <div class="wrap" players-directive id="players_directive"></div>
            <div class="wrap" workout-details-directive id="details_directive"></div>
            <div class="wrap" live-workouts-directive id="workouts_directive"></div> 
        </div>
    </div>

</div>
