<script>
    $('#myCarousel').show();
</script>

<h1>{{ header}}</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <!--Sidebar content-->

            <span class="glyphicon glyphicon-search"> Search:</span>
            <input ng-model="query">
            <br/>
            Sort by:
            <select ng-model="orderProp">
                <option value="name" selected="selected">Alfabetycznie</option>
                <option value="age">Data dodania</option>
            </select>

        </div>
        <div class="col-md-9">
            <!--Body content-->

            <div class="row">
                <div class="col-md-9">

                    <ul class="workouts">
                        <li ng-repeat="workout in workouts| filter:query | orderBy:orderProp" class="thumbnail" style="min-height: 110px;">

                            <a href="#" class="thumb">
                              <img ng-if="workout.img != null" ng-src="{{workout.img}}" style="padding: 5px;height:100px; float:left;"/>
                              <img ng-if="workout.img == null" ng-src="/img/dummy_map.png" style="padding: 5px;height:100px; float:left;"/>
                          </a>

                            <div style="margin-left: 100px;">
                                <a ng-href="#/dummy_map/{{workout.owner}}">Tytuł: {{workout.title}}</a>
                                <p ng-bind="">{{workout.description}}</p>
                                <p>Dystans: {{workout.length}} km</p>
                                <p class="text-align: right;">Utworzył: {{workout.owner}}</p>
                              
                            </div>
                        </li>
                    </ul>   
                </div>
            </div>
        </div>
    </div>
</div>


