<script>
    $('#myCarousel').show();
</script>

<h1 style="margin-left: 10px;">{{ header}}</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <!--Sidebar content-->

            <span class="glyphicon glyphicon-search">&nbsp;</span>Szukaj:
            <input ng-model="query">
            <br/><br/>
            <div style="margin-left: 28px;">
              Sortuj:
            <select ng-model="orderProp" style="margin-left: 6px;">
                <option value="name" selected="selected">Alfabetycznie</option>
                <option value="age">Data dodania</option>
            </select>
              </div>

        </div>
        <div class="col-md-9">
            <!--Body content-->

            <div class="row">
                <div class="col-md-9">

                    <ul class="workouts">
                        <li ng-repeat="workout in workouts| filter:query | orderBy:orderProp" class="thumbnail" style="min-height: 110px;">

                            <a href="#" class="thumb">
                              <img ng-if="workout.img != null" ng-src="{{workout.img}}" style="padding: 5px;height:100px; float:left;"/>
                              <img ng-if="workout.img == null" ng-src="/img/dummy_map.png" style="padding: 5px;height:100px; float:left;"/>
                          </a>

                            <div style="margin-left: 100px;">
                                <a ng-href="#/dummy_map" ng-click="setRoute(workout.id)">
                                  Tytuł: {{workout.title}}
                              </a>
                                <p ng-bind="workout.description"></p>
                                <p ng-if="workout.length">Dystans: {{workout.length}} m</p>
                                <p class="text-align: right;">Utworzył: {{workout.owner}}</p>
                              
                            </div>
                        </li>
                    </ul>   
                </div>
            </div>
        </div>
    </div>
</div>


